.anuncios {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.anuncios__filtros{
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 20px;
	padding: 0 50px;
}

.filtro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 300px;
	gap: 10px;
	color: var(--corPrimaria);
}

.filtro label {
	display: block;
	font-weight: 600;
	cursor: pointer;
}
.filtro select {
	display: block;
	height: 30px;
	width: 100%;
	cursor: pointer;
	text-align: center;
}

.anuncios__lista {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 50px 0;
	margin: 0 auto;
}

.card {
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

.card__titulo,
.card__preco {
	text-align: center;
	display: block;
	height: 40px;
}
.card__preco {
	height: 20px;
}

.card__imagem {
	width: 200px;
	height: 200px;
}

.card__imagem img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.card__description {
	font-size: 14px;
	line-height: 1.5;
	min-height: 150px;
}

.card__autor {
	display: block;
	text-align: center;
	font-weight: 600;
	padding-top: 10px;
}

.card__detalhes {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: var(--corDetalhes);
	color: var(--corPrimaria--dark);
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0;
}
.card__detalhes:hover {
	background: var(--corSecundaria);
	color: #fff;
	transition: background 0.3s;
}

.anuncio{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 400px 400px;
	justify-content: center;	
}

.anuncio__imagem{
	background: #f2f2f2;
}
.anuncio__imagem img{
	display: block;
	width: 100%;
	max-height: 600px;
}

.anuncio__detalhes{
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.anuncio__titulo{
	font-size: 32px;
}
.anuncio__preco{
	font-size: 24px;
}

.anuncio__autor{
	font-size: 16px;
}
.anuncio__autor strong{
	font-size: 18px;
	font-weight: 600;
}

.anuncio__descricao{
	font-size: 18px;
}

.anuncio__botao{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: var(--corDetalhes);
	color: var(--corPrimaria--dark);
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0;
}
.anuncio__botao:hover{
	background: var(--corPrimaria--dark);
	color: var(--corDetalhes);
}