:root {
	--corPrimaria: #0c3455;
	--corPrimaria--dark: #0e1a33;
	--corSecundaria: #f7941e;
	--corDetalhes: #8dc63f;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
	font-size: 100%;
}

.container {
	min-height: calc(100vh - 130px);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 80px;
}

.header__logo img {
	object-fit: contain;
	height: 60px;
}

.header__nav {
	display: flex;
	gap: 10px;
	align-items: center;
}

.header__nav-item {
	text-decoration: none;
	color: var(--corPrimaria);
	font-size: 16px;
	font-weight: 500;
}

.header__nav-item:hover {
	text-decoration: underline;
	color: var(--corSecundaria);
}

.footer {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
